.App {
  text-align: center;
}

section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 2rem;
}

article{
  background-color: navy;
  color: white;
  border-radius: 7px;
}
